::-webkit-scrollbar-corner {
background-color: #3c3f41;
}

body {
    margin-left: 16px;
    margin-right: 0;
    font-family: "Ubuntu", sans-serif;
    background-color: #3c3f41;
    color: #bababa;
    font-size: 14px !important;
    font-weight: normal;
    line-height: 24px;
}

pre code {
    font-family: "Source Code Pro", monospace;
    font-size: 13px !important;
    line-height: 20px !important; /*does this work?*/
    font-weight: normal;
}

p img {
    background-color: #bababa;
}

textarea {
background-color: #3c3f41;
color: #bababa
}

a {
    color: #589df6;
    text-decoration: none;
    position: relative;
}

a:after {
    content: '';

    width: 100%;
    position: absolute;
    left: 0;
    bottom: 1px;

    border-width: 0 0 1px;
    border-style: solid;
}

tr {
    text-align: left
}

.example {
    background-color: #4f5254;
}